
<div ng-init="sort='-dateCreated'">

<div class="container form-inline" style="text-align:center;">
<div class="well" style="text-align:left;">
  <label>Search by Guest</label>&nbsp;&nbsp;<input type="text" ng-model="search.author" class="form-control" maxlength="100"/>&nbsp;&nbsp;&nbsp;&nbsp;
  <label>Search by Message</label>&nbsp;&nbsp;<input type="text" ng-model="search.message" class="form-control" />&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-info" ng-show="sort === '-dateCreated'" ng-click="sort='dateCreated'">Sort Date</button>
    <button type="button" class="btn btn-info" ng-show="sort === 'dateCreated'" ng-click="sort='-dateCreated'">Sort Date</button>

</div>
<div ng-show="vm.isLoading">
  Loading, please wait!
</div>
  <table class="table table-bordered table-striped" ng-show="!vm.isLoading">
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Guest
        </th>
        <th>
          Message
        </th>
        <th>

        </th>
      </tr>
    </thead>
    <tbody style="text-align: left;">
      <tr  ng-repeat="c in vm.entries | filter:search | orderBy:sort">
        <td>
          {{c.dateCreated | date:'shortDate'}}
        </td>
        <td>
          <a ui-sref="Details({id:c.id})">{{c.author}}</a>
        </td>
        <td style="white-space: pre-line;">
            {{c.message | truncate:140}}
        </td>
        <td>
          <button type="button" class="btn btn-info" ng-click="vm.openModal(c)">Open</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>

</div>
