<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Guest
        </th>
        <th>
          Message
        </th>

      </tr>
    </thead>
    <tbody>
      <tr  ng-repeat="c in vm.entries">
        <td>
          {{c.dateCreated | date:'shortDate'}}
        </td>
        <td>
          <a ui-sref="Details({id:c.id})">{{c.author}}</a>
        </td>
        <td style="white-space: pre-line;">
            {{c.message | truncate:140}}
        </td>
      </tr>
    </tbody>
  </table>

</div>
